.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

/* Main container for the terms content */
.terms {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  margin-bottom: 40px;
}

/* Tabs container */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

/* Button (tab) styles */
.tab {
  text-decoration: none; /* Remove any underlines */
  padding: 15px 20px;
  margin: 5px;
  cursor: pointer;
  color: #2c3e50;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #ecf0f1;
}

.tab.active {
  background-color: #1abc9c;
  color: #fff;
}

.tab:hover {
  background-color: #34495e;
  color: #fff;
}

/* Content area styles */
.content {
  padding: 30px;
  background-color: #ecf0f1;
  border-radius: 10px;
}

.content h3 {
  color: #2c3e50;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}

.content p {
  line-height: 1.6;
  color: #333;
  font-size: 16px;
}

/* Responsive Media Queries */

/* For tablets and small screens */
@media (max-width: 768px) {
  .tab {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
  }

  .content h3 {
    font-size: 24px;
  }
}

/* For mobile screens */
@media (max-width: 480px) {
  .tab {
    padding: 8px;
    margin: 3px;
    font-size: 14px;
  }

  .content {
    padding: 15px;
  }

  .content h3 {
    font-size: 22px;
  }
}