MONGODB_URI=mongodb+srv://LEVi19xx:Kingtaehyung08@ecommerce.g3ahv.mongodb.net/Ecommerce?retryWrites=true&w=majority&appName=Ecommerce

STRIPE_SECRET_KEY=sk_test_51Pc5UPLLvipOxHYKJwNehKBLiedOr5PFRB9iwYsVQeB4f2ICTxTikZUxvSPqwcmDXu7eAysEt155bfYn0qFftKoA00n27iEMZo

JWT_SECRET=admin_token

REACT_APP_CHECKOUT_PUBLIC_API_KEY=pk-NCLk7JeDbX1m22ZRMDYO9bEPowNWT5J4aNIKIbcTy2a
REACT_APP_CHECKOUT_SECRET_API_KEY=sk-8MqXdZYWV9UJB92Mc0i149CtzTWT7BYBQeiarM27iAi

EMAIL_USER=reyeshannahjoy82@gmail.com
EMAIL_PASSWORD=nzgh uqru ohfz vvwz

REACT_APP_POSITION_STACK_API_KEY=48ceab57881e0d4b21c7d7c68d31d792

REACT_APP_PAYMONGO_PUBLISHABLE_KEY=pk_test_YzAg96HbK84qqbTD8fL5aEyW
REACT_APP_PAYMONGO_SECRET_KEY=sk_test_YHukRMvoRswRM3UfQPMbAaj5

REACT_APP_GOOGLE_MAPS_API_KEY=AIzaSyCfeMqzu93-w0aWnBTs1TTU62_Od49c9iI